# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# NETMF cache files
*.cache

# BuildOutput
/BuildOutput
/.metadata
.project
